/*------------------------------------*\
    MAIN
\*------------------------------------*/
body {
    font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1{
    
}
h2{
    color: #000;
}
p{
    color: white;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
a {
    color: #444;
    text-decoration: none;
}
a:hover {
    color: #444;
}
a:focus {
    outline: 0;
}
a:hover,
a:active {
    outline: 0;
}
input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
    width: 100%;
    position: relative;
}


@media screen and (min-width: 768px) {
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }

    .navbar > .container .navbar-brand-centered,
    .navbar > .container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
/*------------------------------------*\
    INDEX
\*------------------------------------*/

.containerSlogan {
    position: relative;
    display: inline-block;
}
.containerSlogan h2 {
    color: white;
    font-size: 8em;
}
.containerSlogan h3 {
    color: white;
    font-size: 6em;
}
.textSlogan {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
    margin-top: 25%;
}
.border_index{
    border:1px solid white;
    margin-left: 23%;
    margin-right: 23%;
    opacity: 0.4;
}
.container_index{
    display: flex;
    justify-content: center;
}
.contentIndex-1 {
    position: relative;
    background-color: #d8d8d8;
    display: inline-block;
    margin-bottom: -5px;
}
.contentIndex-2 {
    position: relative;
    background-color: #00163d;
    display: inline-block;
    margin-bottom: -4px;
}
.title-preview-blog{
    display: flex;
    justify-content: center;
}

/*------------------------------------*\
    BLOG
\*------------------------------------*/

.lib-panel {
    margin-bottom: 20Px;
}

.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}

.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}

.lib-panel .lib-row.lib-desc a {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
}

.no-padding {
    padding: 0;
}

/*------------------------------------*\
    COURS
\*------------------------------------*/

.containerBox {
    position: relative;
    display: inline-block;
    margin-bottom: -4px;
}

.text-box {
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
}

.text-box:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.textCour {
    display: inline-block;
    font-size: 20px;
    color: #FFF;
    position: absolute;
    height: 8%;
    text-align: center;
    width: 37%;
    margin-left: 5%;
}

.textCour:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.background {
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    padding: 2%;
}

.gradien {
    border-bottom: solid 3px;
    margin: 3%;
    position: relative;
    left: -19%;
    width: 62%;
}

.text2Cour {
    display: inline-block;
    font-size: 20px;
    color: #FFF;
    position: absolute;
    height: 8%;
    text-align: center;
    width: 37%;
    margin-left: 57%;
}

.text2Cour:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.gradien2 {
    border-bottom: solid 3px;
    margin: 3%;
    position: relative;
    left: 48%;
    width: 62%;
}

/*------------------------------------*\
    TARIF
\*------------------------------------*/

.Tarif_flex {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.offre_flex {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}


.textTarif {
    text-transform: uppercase;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: .1em;
    position: absolute;
    display: block;
    top: 20%;
    left: 0;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.text_tarif_content {
    display: block;
    text-transform: none;
    font-style: italic;
    font-size: 80%;
    color: whitesmoke;
}
.containerTarif{
    display:inline-block;
    -webkit-transition:  box-shadow 0.2s ease-out;
    -moz-transition: box-shadow 0.2s ease-out;
    -o-transition: box-shadow 0.2s ease-out;
    transition: box-shadow 0.2s ease-out;
}

.containerTarif:hover {
    box-shadow: inset 0 0 90px -20px #373737;
}

.containerTarif img{
    position: relative;z-index: -1;vertical-align:bottom;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.containerTarif:hover img {
    -webkit-filter:grayscale(1);
}
.tarif_plus{
    color: white;
    font-size: 0.7em;
    border: 1px solid;
    padding: 2%;
    border-radius: 11px;
}
.tarif_plus:hover{
    text-decoration: none;
    background-color: white;
    color: black;
    opacity: 0.8;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer{
    background-color: #292929;
    color:white;
}
.flexFoot{
    display: flex;
    justify-content: space-between;
}
.links {
    margin-top: 50px;
}
.logo_footer{

}
.contact_footer {
    color: white;
    text-align: right;
    margin-top: 50px;
}
.flexRS{
    display: flex;
    justify-content: center;
}

.smGlobalBtn { /* global button class */
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}
/* facebook button class*/
.facebookBtn {
    background: #4060A5;
}
.facebookBtn:before { /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}
.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
}
/* twitter button class*/
.twitterBtn {
    background: #00ABE3;
}
.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099"; /* add twitter icon */
}
.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
}
/* google plus button class*/
.instaBtn {
    background: #e64522;
}
.instaBtn:before {
    font-family: "FontAwesome";
    content: "\f16d"; /* add googleplus icon */
}
.instaBtn:hover {
    color: #e64522;
    background: #fff;
}

.copyright {
    margin-top:3%;
    color: white;
    text-align: center;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1364px) {

}


/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.sticky {

}

.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/**********
SINGLE BLOG
**********/
.single-blog p {
    font-size: 1.4em;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
}
.single-blog h1 {
    font-size: 8em;
    color: black;
    font-family: 'Roboto';
    font-weight: 300;
    padding-left: -40px;
}
.single-blog h1:after {
    content: "";
    position: absolute;
    height: 2px;
    background: black;
    width: 500px;
    top: 110px;
    left: -200px;
}
.single-blog a {
    color: black;
}
.single-blog a:hover {
    text-decoration: none;
}
.single-blog p {
    margin-top: 40px;
}
.thumbnail_single {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.thumbnail_single_post{
    position: relative;
    overflow: hidden;
    height: 400px;
}
.date {
    text-align: right;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2em;
}
.author {
    text-align: right;
    font-size: 1.3em;
}
.authorName{
    font-weight: 500;
}
.img-responsive {
    width: 100%;
}
.container-fluid {
    padding: 0;
}
.row {
    height: 50vh;
    overflow: hidden;
}

