/*------------------------------------*\
    MAIN
\*------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700');


.row {
    margin: 0;
}
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */

body {
    font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1{
    
}
h2{
    color: #000;
}
p{
    color: white;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
a {
    color: #444;
    text-decoration: none;
}
a:hover {
    color: #444;
}
a:focus {
    outline: 0;
}
a:hover,
a:active {
    outline: 0;
}
input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
    width: 100%;
    position: relative;
}


@media screen and (min-width: 768px) {
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }

    .navbar > .container .navbar-brand-centered,
    .navbar > .container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
/*------------------------------------*\
    INDEX
\*------------------------------------*/

.containerSlogan {
    margin: 0;
    padding-top: 30vh;
    width: 100%;
    height: 100vh;
    background: url("img/bc53a78342bfe9b6ce0cc81a02766930.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.containerSlogan h2 {
    color: white;
    font-size: 8em;
}
.containerSlogan h3 {
    color: white;
    font-size: 6em;
}
.textSlogan {

    text-align: center;
    width: 100%;
    z-index: 10;
}
.textSlogan h2 {
    font-family: 'Roboto Condensed';
    font-weight:700;
}
.textSlogan h3 {
    font-family:'Roboto Condensed';
    font-weight: 100;
}
.border_index {
    border: 1px solid white;
    margin-left: 23%;
    margin-right: 23%;
    opacity: 0.4;
}


.index_slogan{
    width: 100%;
    height: 450px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20%;

}
#image_slogan{
    background-image: url("../html5blank-stable/img/bodybuilding_femme.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
}
#slogan{
    width: 100%;
    height: 450px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20%;
}

#slogan1 {
    font-size: 35px;
    text-align: center;
    color: white;
}

#slogan2 {
    font-size: 27px;
    text-align: center;
    color: white;

}

.first_cours{
    background-color: #d8d8d8;
}
.second_cours {
    background-color: #00163D;
    height: 500px;
    color: white;
    margin: 0;
    text-align: left;
}

.second_cours p, .second_cours h3 {
    margin-top: 20px;
    text-align: right;
}
.coaching_sportif{
    margin-top: 150px;
}
.coaching_sportif2{
    margin-top: 150px;
}
.second_cours h3, .first_cours h3 {
    font-size: 4em;
}
.second_cours p, .first_cours p {
    font-size: 2em;
}
.coaching_sportif h3:after{
    content:"";
    position: absolute;
    height: 2px;
    background: black;
    width: 400px;
    left: -20px;
    top: 75px;
}
.coaching_sportif2 h3:after {
    content:"";
    position: absolute;
    height: 2px;
    background: white;
    width: 400px;
    right: -14px;
    top: 75px;
}
.first_back{
    background: url("img/planche_femme.png");
    background-size: 70%;
    background-repeat:no-repeat;
    background-position: right;
    height: 500px;
}
.second_back{
    background: url("img/planche_femme.png");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: right;
    height: 500px;
}
.container_index{
    height: 70px;
}
.title_index {
    font-size: 5em;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 100;
}
@media only screen and (max-width:768px){
    .coaching_sportif2 h3:after {
        display: none;
    }
    .coaching_sportif h3:after{
        display: none;
    }
    .second_cours {
        background-color: #00163D;
        height: auto;
        color: white;
        margin: 0;
        text-align: left;
    }
    .second_cours .coaching_sportif2 {
        margin-top: 30px;
        padding-bottom: 50px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .coaching_sportif2 h3:after {
        display: none;
    }
    .coaching_sportif h3:after{
        display: none;
    }
    .coaching_sportif2 h3:after {
        content:"";
        position: absolute;
        display: none;
    }
    .container {
        height: 300px;
    }
    #slogan{
        margin-top: 15%;
    }

    #slogan1 {
        font-size: 25px;
    }

    #slogan2 {
        font-size: 21px;
    }

    #img_sportif {
        background-repeat: no-repeat;
        background-size: 88%;
        width: 59%;
        margin: 0;
        float: left;
        height: 400px;
    }

    #img_sportif2 {
        background-repeat: no-repeat;
        background-size: 97%;
        width: 40%;
        margin: 0;
        float: right;
        height: 400px;
        width: 41%;
    }

    #coaching_sportif {
        width: 50%;
        display: inline-block;
        margin-top: 64px;
        text-align: right;
    }

    #coaching_sportif2{
        width: 50%;
        display: inline-block;
        margin-top: 64px;
        text-align: left;
    }
    #partie_sport2{
        text-align: left;
    }

    /*FOOTER*/
    #contact_footer{
        margin-top: 25px;
        text-align: center;
        margin: auto;
    }
    #liens_footer{
        text-align: center;
        margin: auto;
    }
    /*------------------------------------*\
    BLOG
\*------------------------------------*/
    .lib-panel {
        margin-bottom: 20Px;
    }

    .lib-panel img {
        width: 50%;
        background-color: transparent;
        margin-left: 25%;
    }

    .lib-panel .lib-row.lib-header {
        padding: 8px 10px 0px 20px;
    }

}

@media only screen and (min-width: 1364px) {
    #img_sportif{
        height: 307px;
        width: 438px;
        background-repeat: no-repeat;
        background-size: 71%;
    }
    #img_sportif2{
        height: 400px;
        width: 438px;
        background-size: 72%;
        background-repeat: no-repeat;
        padding: 0;
        margin-left: 232px;
    }
    #coaching_sportif{
        text-align: right;
        margin-top: 85px;
    }


}
/*------------------------------------*\
    BLOG
\*------------------------------------*/

.lib-panel {
    margin-bottom: 20Px;
}

.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}

.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}

.lib-panel .lib-row.lib-desc a {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
}

.no-padding {
    padding: 0;
}

/*------------------------------------*\
    COURS
\*------------------------------------*/
.partie_cours h1 {
    text-align: center;
    font-size: 38px;
    margin: 0.67em 0;
    text-decoration: underline
}
.TRX {
    height: 500px;
    background: url('img/TRX.jpg');
    background-size: cover;
    background-position: center;
}
.crossfit{
    background: url('img/crossfit-image.png');
    height: 400px;
    background-size: cover;

}
.text-box {
    height: 100%;
    text-align: center;
    width: 100%;
}

.text-box:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.textCour {
    color: #FFF;
    position: absolute;
    text-align: center;
    width: 37%;
    margin-left: 5%;
}

.background {
    margin-top: 40px;
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    padding: 2%;
}
.background p {
    font-size: 1.5em;
    text-align: left;
}
.background h4 {
    font-size: 5em;
    text-align: left;
}
.background2 {
    margin-top: 40px;
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    padding: 2%;
}
.background2 h4{
    text-align: right;
}

.background2 p {
    font-size: 1.5em;
}
.background2 h4 {
    font-size: 5em;
}

.gradien {
    border-bottom: solid 3px;
    margin: 3%;
    position: relative;
    left: -19%;
    width: 62%;
}

.text2Cour {
    position: absolute;
    color: #FFF;
    height: 8%;
    text-align: center;
    width: 37%;
    margin-left: 57%;
}

.text2Cour:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.gradien2 {
    border-bottom: solid 3px;
    margin: 3%;
    position: relative;
    left: 48%;
    width: 62%;
}

/*------------------------------------*\
    TARIF
\*------------------------------------*/

.header_tarif{
    background: url('img/bodybuilding_femme.jpg');
    height: 300px;
    margin-bottom: 100px;
}
h1{
    text-align: center;
    font-size: 5em;
    font-family: 'Roboto';
    font-weight: 100;
    color: black;
}

.offre_flex {
    margin: 50px auto;
    text-align: center;
    width: 100%;
    height: 400px;
}
.textTarif {
    text-transform: uppercase;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: .1em;
    display: block;
    top: 20%;
    left: 0;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.text_tarif_content {
    display: block;
    text-transform: none;
    font-style: italic;
    font-size: 80%;
    color: whitesmoke;
}

.containerTarif {
    display: inline-block;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(25% - 30px);
    margin-left: 15px;
    -webkit-transition: all 5s linear;
    -moz-transition: all 5s linear;
    -ms-transition: all 5s linear;
    -o-transition: all 5s linear;
    transition: all 5s linear;

}



.container_tarif h3 {
    text-align: center;
    font-size: 3em;
}
.offre1{
    background: url("img/bodybuilding_femme.jpg");

}
.offre2{
    background: url("img/offre2.jpg");

}
.offre3 {
    background: url('img/d365338f38a195182f021cf45a5b6ff8.jpg');


}
.offre4{
    background: url('img/homme_al.png');
    margin-right: 15px;

}
.text_tarif_titre{
    padding-top: 20px;
}
.text_tarif_content{
    font-size: 4em;
    text-align: center;
    padding-top: 60px;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer{
    background-color: #292929;
    color:white;
}
.flexFoot{
    display: flex;
    justify-content: space-between;
}
.links {
    margin-top: 50px;
}
.logo_footer{

}
.contact_footer {
    color: white;
    text-align: right;
    margin-top: 50px;
}
.flexRS{
    display: flex;
    justify-content: center;
}

.smGlobalBtn { /* global button class */
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}
/* facebook button class*/
.facebookBtn {
    background: #4060A5;
}
.facebookBtn:before { /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}
.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
}
/* twitter button class*/
.twitterBtn {
    background: #00ABE3;
}
.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099"; /* add twitter icon */
}
.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
}
/* google plus button class*/
.instaBtn {
    background: #e64522;
}
.instaBtn:before {
    font-family: "FontAwesome";
    content: "\f16d"; /* add googleplus icon */
}
.instaBtn:hover {
    color: #e64522;
    background: #fff;
}

.copyright {
    margin-top:3%;
    color: white;
    text-align: center;
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {

    /*------------------------------------*\
        SLOGAN
    \*------------------------------------*/
    #slogan1 {
        font-size: 16px;
        margin: 53px;
    }

    #slogan2 {
        font-size: 13px;
        margin: -47px;
    }

    #slogan {
        height: 152px;
    }

    /*------------------------------------*\
        COACHING SPORTIF
    \*------------------------------------*/
    .partie_sportif {
        height: 400px;
    }

    /*COURS*/

    .partie_cours h1 {
        text-align: center;
        font-size: 26px;
    }

    .partie_sportif {
        height: 400px;
    }

    #img_sportif {
        background-repeat: no-repeat;
        background-size: 61%;
        height: 206px;
        width: 289px;
        margin-left: 31%;
    }

    #coaching_sportif {
        text-align: center;
        margin-left: -80px;
    }


    /*------------------------------------*\
        COACHING SPORTIF 2
    \*------------------------------------*/
    .partie_sportif2 {
        height: 400px;
    }

    #img_sportif2 {
        height: 89px;
        width: 200px;
    }

    /*COURS*/
    .partie_cours h1 {
        text-align: center;
        font-size: 26px;
    }

    .partie_sportif2 {
        height: 400px;
    }

    #img_sportif {
        background-repeat: no-repeat;
        background-size: 40%;
    }

    #img_sportif2 {
        background-repeat: no-repeat;
        background-size: 61%;
        height: 206px;
        width: 289px;
    }

    #coaching_sportif2 {
        text-align: center;
        margin-left: -80px;
        height: 300px;
    }

    #partie_sport2 {
        margin-left: 90px;
        text-align: center;
        vertical-align: middle;
    }

    /*------------------------------------*\
        BLOG
    \*------------------------------------*/
    .lib-panel {
        margin-bottom: 10Px;
    }

    .lib-panel img {
        width: 100%;
        background-color: transparent;
    }

    .lib-panel .lib-row {
        padding: 0 20px 0 20px;
    }

    .lib-panel .lib-row.lib-header {
        background-color: #FFFFFF;
        font-size: 14px;
    }

    .lib-panel .lib-row.lib-header .lib-header-seperator {
        height: 2px;
        width: 16px;
        margin: 7px 0 7px 0;
    }

    .lib-panel .lib-row.lib-desc {
        position: relative;
        height: 100%;
        display: block;
        font-size: 14px;
    }

    .lib-panel .lib-row.lib-desc a {
        bottom: 10px;
        left: 20px;
    }

    .row-margin-bottom {
        margin-bottom: 20px;
    }

    /*------------------------*\
        FOOTER
    \*------------------------*/
    #liens_footer {
        text-align: left;
    }

    #logo_footer {
        margin-left: 43%;
    }

    #contact_footer {
        text-align: left;
        margin-left: 140px;
        margin-top: 25px;
    }

}

@media only screen and (min-width: 480px) {

}


/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.sticky {

}

.bypostauthor {

}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}
.text-title{
position: absolute;
    color: #fff;	
}

.nav {

}
.navbar {
    position: relative;
    min-height: 76px;
    background-color: #fff;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;
}
@media screen and (min-width: 768px){
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 131px;
    border-radius: 89px;
    text-align: center;
    background-color: #376BAB !important;
}
.navbar-brand {
    float: left;
    height: 124px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
}
/*presentation*/
.text-title{
font-size: 3vw;
margin-left: 31%;
    margin-top: 207px;
}
.section1{
	height: 400px;
	width: 100%
}
.section2{
	height: 418px;
	width: 100%;
background-color: #eee;
}
.section3{
	height: 400px;
	width: 100%;

}
.section4{
	height: 500px;
	width: 100%;

}

.paragraphe-prez{
    width: 82%;
        margin: auto;
        
    font-size: 17px;
        color: #555;
}
.h2-prez{
	color: #636363;
	    margin-left: 40%;
	        padding: 48px;
}
.textures{
	position: absolute;
	height: 500px;
	width: 100%;
}
.about{
	    font-size: 3vw;
}
.petit-p{
	    width: 60%;
    font-size: 17px;
}
.icon-section{
	        margin-top: 118px;
    width: 90%;
    margin-left: 5%;
}
.p-icon{
	    font-size: 17px;
    text-align: center;
}
.last{
        color: #555;
    font-size: 17px;
    width: 80%;
    margin: auto;
}
/*fb*/
.social_text{
    width: 100%;
}
.comments_face{
    width: 100%;
    margin: auto;
    
}
/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/**********
SINGLE BLOG
**********/
.single-blog p {
    font-size: 1.4em;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
}
.single-blog h1 {
    font-size: 8em;
    color: black;
    font-family: 'Roboto';
    font-weight: 300;
    padding-left: -40px;
}
.single-blog h1:after {
    content: "";
    position: absolute;
    height: 2px;
    background: black;
    width: 500px;
    top: 110px;
    left: -200px;
}
.single-blog a {
    color: black;
}
.single-blog a:hover {
    text-decoration: none;
}
.single-blog p {
    margin-top: 40px;
}
.thumbnail_single {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.thumbnail_single_post{
    position: relative;
    overflow: hidden;
    height: 400px;
}
.date {
    text-align: right;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2em;
}
.author {
    text-align: right;
    font-size: 1.3em;
}
.authorName{
    font-weight: 500;
}
.img-responsive {
    width: 100%;
}
.container-fluid {
    padding: 0;
}
.row {
    height: 50vh;
    overflow: hidden;
}

